version: '3.8'

services:
  php:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: root   # mot de passe root défini ici
      MYSQL_DATABASE: gestion_scolarite
      # MYSQL_USER et MYSQL_PASSWORD si tu veux créer un user autre que root
    ports:
      - "3306:3306"
    volumes:
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql
      - db_data:/var/lib/mysql

volumes:
  db_data:
